* {
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    background: #fdf8e2;
    background-size: 200px;
    overflow: hidden;
}

#load {
    position: absolute;
    top: 60%;
    left: 50%;
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    margin: -200px 0 0 -150px;
    padding: 290px 0 0 0;
    background-position: bottom 120px left 70px;
    background-repeat: no-repeat;
    background-size: 200px;
}

@media screen and (min-width: 371px) {
    #load {
        top: 50%;
    }
}

@media screen and (min-width: 769px) {
    #load {
        left: calc(50% + 150px);
    }
}

.load-bg {
    background-image: url(../img/loading-bg.svg);
}

.load-bg span {
    display: block;
    font-family: "Lobster", cursive;
    color: #b55a0f;
    text-align: center;
    font-size: 3.5rem;
    animation: fade 2.5s infinite;
}

@keyframes fade {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.5;}
}

.error-bg {
    background-image: url(../img/error-bg.svg);
}

.error-bg span {
    display: block;
    font-family: "Lobster", cursive;
    color: #c1272d;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
}

header {
    display: block;
    font-family: "Lobster", cursive;
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 45px);
    height: 45px;
    top: calc(100% - 45px);
    left: 45px;
    font-family: "Lobster", cursive;
    text-align: center;
    font-size: 7vw;
    line-height: 45px;
    z-index: 5;
    border-bottom: 1px solid #b55a0f;
    background-color: #ff80ba;
    color: white;
    transition: .4s all ease-out;
    cursor: pointer;
}

    header.shift {
        top: 0;
    }

@media screen and (min-width: 371px) {
    header {
        top: 0;
        z-index: 1;
    }

        header.shift {
            left: 345px;
        }
}

@media screen and (min-width: 531px) {
    header{
        font-size: 2em;
    }
}

@media screen and (min-width: 769px) {
    header {
        width: 100%;
        width: calc(100% - 300px);
        left: 300px;
        transition: unset;
    }

        header.shift {
            left: 300px;
            transition: unset;
        }
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 371px) {
    #map {
        top: 45px;
        height: 100%;
        height: calc(100% - 45px);
    }
}

@media screen and (min-width: 769px) {
    #map {
        position: absolute;
        left: 300px;
        width: 100%;
        width: calc(100% - 300px);
    }
}

#output {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#places-nav {
    box-sizing: border-box;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 15px 15px 15px;
    color: #fdf8e2;
    background-color: #a61726;
    z-index: 4;
    transition: 0.4s all ease-out;
    overflow: scroll;
}

    #places-nav.show {
        top: 0;
    }

@media screen and (min-width: 371px) {
    #places-nav {
        width: 300px;
        padding: 15px;
        top: 0;
        left: -300px;
    }

    #places-nav.show {
        left: 0;
    }
}

@media screen and (min-width: 769px) {
    #places-nav,
    #places-nav.show {
        left: 0;
        transition: unset;
    }
}

#places-nav input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 0 0 5px 0;
    padding: 0 50px 0 5px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #c1272d;
    border: 1px solid #ff80ba;
    background: url(../img/magnifying-glass.svg) #ffbdd3 no-repeat;
    background-position: bottom 2px right 5px;
    background-size: 40px;
}

#places-nav select {
    width: 100%;
    height: 45px;
    margin: 0 0 5px 0;
    padding: 5px;
    color: #c1272d;
    font-size: 16px;
    border: 1px solid #ff80ba;
    background-color: #ffbdd3;
}

#places-list {
    height: 100vh;
    height: calc(100vh - 180px);
    overflow: scroll;
}

#places-list li {
    padding: 5px;
    list-style: none;
    border-top: 1px dotted #ffbdd3;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

#places-list li:first-child {
    border-top: 0 none;
}

#places-list li.selected {
    color: #c1272d;
    background-color: #fdf8e2;
}

.toggle-nav {
    position: fixed;
    width: 45px;
    height: 45px;
    left: 0;
    top: calc(100% - 45px);
    border: 0 none;
    outline: 0;
    background: #c1272d url(../img/nav-hamburger.svg) no-repeat 50% 50%;
    background-size: 30px;
    z-index: 5;
    transition: 0.4s all ease-out;
}

    .toggle-nav.shift {
        top: 0;
    }

@media screen and (min-width: 371px) {
    .toggle-nav {
        top: 0;
        left: 0;
    }

        .toggle-nav.shift {
            top: 0;
            left: 300px;
        }
}

@media screen and (min-width: 769px) {
    .toggle-nav {
        display: none;
        transition: unset;
    }
}

.info-window-content {
    width: 200px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    line-height: 1.25em;
    box-sizing: border-box;
    background-color: white;
}

.info-window-content a:link,
.info-window-content a:visited,
.info-window-content a:active {
    color: #b55a0f;
    transition: 0.2s color ease-out;
}

.info-window-content a:hover,
.info-window-content a:focus {
    color: #dd8c4e;
}

.info-window-content .name {
    display: block;
    margin: 0 0 5px 0;
    font-size: 1.33em;
    text-decoration: none;
    font-weight: bold;
}

.info-window-content p {
    margin: 0 0 5px 0;
}

.info-window-content .address {
    display: block;
}

.info-window-content .phone {
    text-decoration: none;
}

.info-window-content .yelp-stars {
    display: inline-block;
    width: 102px;
    height: 18px;
    background-image: url(../img/yelp-stars.png);
}

.yelp-stars.one-star {
    background-position-y: 162px;
}

.yelp-stars.one-halfstar {
    background-position-y: 144px;
}

.yelp-stars.two-stars {
    background-position-y: 126px;
}

.yelp-stars.two-halfstars {
    background-position-y: 108px;
}

.yelp-stars.three-stars {
    background-position-y: 90px;
}

.yelp-stars.three-halfstars {
    background-position-y: 72px;
}

.yelp-stars.four-stars {
    background-position-y: 54px;
}

.yelp-stars.four-halfstars {
    background-position-y: 36px;
}

.yelp-stars.five-stars {
    background-position-y: 18px;
}

