* {
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

#map {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 769px) {
    #map {
        width: 100%;
        width: calc(100% - 300px);
    }
}
#output {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#placesNav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    color: white;
    background-color: black;
    z-index: 3;
    transition: .4s all ease-out;
    overflow: scroll;
}

    #placesNav.show {
        top: 0;
    }

@media screen and (min-width: 371px) {
    #placesNav {
        width: 300px;
        top: 0;
        left: -300px;
    }

    #placesNav.show {
        left: 0;
    }
}

@media screen and (min-width: 769px) {
    #placesNav,
    #placesNav.show {
        left: 0;
        transition: unset;
    }
}

.toggleNav {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 0;
    top: calc(100% - 50px);
    border: 0 none;
    outline: 0;
    background: red;
    z-index: 5;
    transition: .4s all ease-out;
}

    .toggleNav.shift {
        top: 0;
    }

@media screen and (min-width: 371px) {
    .toggleNav {
        top: 0;
        left: 0;
    }

        .toggleNav.shift {
            top: 0;
            left: 300px;
        }
}

@media screen and (min-width: 769px) {
    .toggleNav {
        display: none;
    }
}

.infoWindowContent {
    width: 200px;
    font-size: 12px;
    line-height: 1.25em;
    box-sizing: border-box;
    background-color: white;
}

.infoWindowContent .name {
    display: block;
    margin-bottom: 5px;
    font-size: 1.33em;
    text-decoration: none;
    font-weight: bold;
}

.infoWindowContent p {
    margin-bottom: 5px;
}

.infoWindowContent .address {
    display: block;
}

.infoWindowContent .phone {
    text-decoration: none;
}

.infoWindowContent .yelpStars {
    display: inline-block;
    width: 102px;
    height: 18px;
    background-image: url(../img/yelp-stars.png);
}

.yelpStars.oneStar {
    background-position-y: 162px;
}

.yelpStars.oneHalfStar {
    background-position-y: 144px;
}

.yelpStars.twoStars {
    background-position-y: 126px;
}

.yelpStars.twoHalfStars {
    background-position-y: 108px;
}

.yelpStars.threeStars {
    background-position-y: 90px;
}

.yelpStars.threeHalfStars {
    background-position-y: 72px;
}

.yelpStars.fourStars {
    background-position-y: 54px;
}

.yelpStars.fourHalfStars {
    background-position-y: 36px;
}

.yelpStars.fiveStars {
    background-position-y: 18px;
}

