* {
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background: #fdf8e2;
    background-size: 200px;
    overflow: hidden;
}

#load {
    position: absolute;
    top: 60%;
    left: 50%;
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    margin: -200px 0 0 -150px;
    padding-top: 290px;
    background-position: bottom 120px left 70px;
    background-repeat: no-repeat;
    background-size: 200px;
}

@media screen and (min-width: 371px) {
    #load {
        top: 50%;
    }
}

@media screen and (min-width: 769px) {
    #load {
        left: calc(50% + 150px);
    }
}

.loadBg {
    background-image: url(../img/loading-bg.svg);
}

.loadBg span {
    display: block;
    font-family: 'Lobster', cursive;
    color: #b55a0f;
    text-align: center;
    font-size: 3.5rem;
    animation: fade 2.5s infinite;
}

@keyframes fade {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: .5;}
}

.errorBg {
    background-image: url(../img/error-bg.svg);
}

.errorBg span {
    display: block;
    font-family: 'Lobster', cursive;
    color: #c1272d;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
}

header {
    display: block;
    font-family: 'Lobster', cursive;
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 45px);
    height: 45px;
    top: calc(100% - 45px);
    left: 45px;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 7vw;
    line-height: 45px;
    z-index: 5;
    border-bottom: 1px solid #b55a0f;
    background-color: #ff80ba;
    color: white;
    transition: .4s all ease-out;
    cursor: pointer;
    
}

    header.shift {
        top: 0;
    }

@media screen and (min-width: 371px) {
    header {
        top: 0;
        z-index: 1;
    }

        header.shift {
            left: 345px;
        }
}

@media screen and (min-width: 531px) {
    header{
        font-size: 2em;
    }
}

@media screen and (min-width: 769px) {
    header {
        width: 100%;
        width: calc(100% - 300px);
        left: 300px;
        transition: unset;
    }

        header.shift {
            left: 300px;
            transition: unset;
        }
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 371px) {
    #map {
        top: 45px;
        height: 100%;
        height: calc(100% - 45px);
    }
}

@media screen and (min-width: 769px) {
    #map {
        position: absolute;
        left: 300px;
        width: 100%;
        width: calc(100% - 300px);
    }
}

#output {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#placesNav {
    box-sizing: border-box;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 15px 15px 15px;
    color: #fdf8e2;
    background-color: #a61726;
    z-index: 4;
    transition: .4s all ease-out;
    overflow: scroll;
}

    #placesNav.show {
        top: 0;
    }

@media screen and (min-width: 371px) {
    #placesNav {
        width: 300px;
        padding: 15px;
        top: 0;
        left: -300px;
    }

    #placesNav.show {
        left: 0;
    }
}

@media screen and (min-width: 769px) {
    #placesNav,
    #placesNav.show {
        left: 0;
        transition: unset;
    }
}

#placesNav input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    padding: 0 50px 0 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #c1272d;
    border: 1px solid #ff80ba;
    background: url(../img/magnifying-glass.svg) #ffbdd3 no-repeat;
    background-position: bottom 2px right 5px;
    background-size: 40px;
}

#placesNav select {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    padding: 5px;
    color: #c1272d;
    font-size: 16px;
    border: 1px solid #ff80ba;
    background-color: #ffbdd3;
}

#placesList {
    height: 100vh;
    height: calc(100vh - 180px);
    overflow: scroll;
}

#placesList li {
    padding: 5px;
    list-style: none;
    border-top: 1px dotted #ffbdd3;
    cursor: pointer;
    transition: .2s all ease-out;
}

#placesList li:first-child {
    border-top: 0 none;
}

#placesList li.selected {
    color: #c1272d;
    background-color: #fdf8e2;
}

.toggleNav {
    position: fixed;
    width: 45px;
    height: 45px;
    left: 0;
    top: calc(100% - 45px);
    border: 0 none;
    outline: 0;
    background: #c1272d url(../img/nav-hamburger.svg) no-repeat 50% 50%;
    background-size: 30px;
    z-index: 5;
    transition: .4s all ease-out;
}

    .toggleNav.shift {
        top: 0;
    }

@media screen and (min-width: 371px) {
    .toggleNav {
        top: 0;
        left: 0;
    }

        .toggleNav.shift {
            top: 0;
            left: 300px;
        }
}

@media screen and (min-width: 769px) {
    .toggleNav {
        display: none;
        transition: unset;
    }
}

.infoWindowContent {
    width: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 1.25em;
    box-sizing: border-box;
    background-color: white;
}

.infoWindowContent a:link,
.infoWindowContent a:visited,
.infoWindowContent a:active {
    color: #b55a0f;
    transition: .2s color ease-out;
}

.infoWindowContent a:hover,
.infoWindowContent a:focus {
    color: #dd8c4e;
}

.infoWindowContent .name {
    display: block;
    margin-bottom: 5px;
    font-size: 1.33em;
    text-decoration: none;
    font-weight: bold;
}

.infoWindowContent p {
    margin-bottom: 5px;
}

.infoWindowContent .address {
    display: block;
}

.infoWindowContent .phone {
    text-decoration: none;
}

.infoWindowContent .yelpStars {
    display: inline-block;
    width: 102px;
    height: 18px;
    background-image: url(../img/yelp-stars.png);
}

.yelpStars.oneStar {
    background-position-y: 162px;
}

.yelpStars.oneHalfStar {
    background-position-y: 144px;
}

.yelpStars.twoStars {
    background-position-y: 126px;
}

.yelpStars.twoHalfStars {
    background-position-y: 108px;
}

.yelpStars.threeStars {
    background-position-y: 90px;
}

.yelpStars.threeHalfStars {
    background-position-y: 72px;
}

.yelpStars.fourStars {
    background-position-y: 54px;
}

.yelpStars.fourHalfStars {
    background-position-y: 36px;
}

.yelpStars.fiveStars {
    background-position-y: 18px;
}

